:root {
    --text-color: #ffffff;
    --primary-color: #499899;
    --primary-shadow: #204444;
    --secondary-color: #589949;
    --secondary-shadow: #274420;
    --background-color: #282828;
    --box-color: #465050;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 6em;
    font-family: Arial, serif;
    color: var(--text-color);
    line-height:1.6;
    margin: 0;
    background-color: var(--background-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: var(--primary-color);
    background: linear-gradient(90deg, var(--primary-color) 50%, var(--secondary-color) 100%);
    border-radius: 0 0 10px 10px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    transform-style: preserve-3d;
}

.header::before {
    content: "";
    position: absolute;
    inset: -0.2em;
    background: linear-gradient(90deg, var(--primary-shadow) 50%, var(--secondary-shadow) 100%);
    filter: blur(1em);
    transform: translate3d(0px, 0px, -10px);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: var(--primary-color);
    background: linear-gradient(90deg, var(--primary-color) 50%, var(--secondary-color) 100%);
    border-radius: 10px 10px 0 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.footer::before {
    content: "";
    position: absolute;
    inset: -0.2em;
    background: linear-gradient(90deg, var(--primary-shadow) 50%, var(--secondary-shadow) 100%);
    filter: blur(1em);
    transform: translate3d(0px, 0px, -10px);
}

.sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100vh;
    background-color: var(--box-color);
    z-index: 1;
}

.sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 100vh;
    background-color: var(--box-color);
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.defaultBox {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--box-color);
    margin-bottom: 20px;
    position: relative;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.post-profile-pic {
    width: 64px;
    height: 64px;
    border-radius: 15%;
}

.post-date {
    font-size: 0.9em;
}

.post-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.post-caption, .post-message {
    font-size: 1em;
    margin-top: 10px;
    text-align: left;
}

.post-footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.like-button {
    width: 50px;
    height: auto;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.profile-picture {
    margin-right: 0.5em;
    display: flex;
    justify-content: left;
}

.profile-picture img {
    border-radius: 15%
}

/*section {
    padding: 10px 15px;
    margin: 10px;
    display: block;
}*/

.nav {
    display: flex;
    justify-content: left;
    font-size:larger;
    margin-left: 0.5em;
}

.nav a {
    padding: 10px 15px;
    text-align: center;
    display: block;
    font-size: .99em;
}

.nav a:hover {
    background-color: var(--secondary-color);
    color: darkgray;
    border-radius: 20px;
}

.separator {
    font-size: 1em;
    padding: 10px 15px;
}

@media (min-width: 800px) {
    .header,
    .nav {
        display: flex;
    }
    .header {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1000px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 800px) {
    .header {
        flex-direction: row;
    }
}

.login-header {
    font-weight: 700;
    margin-bottom: 10px;
}

.possible-button {
    color: rgb(107, 203, 235);
    margin-bottom: 0;
}

p {
    margin: 0;
    padding: 0;
}

.button button {
    background-color: rgb(12, 76, 160);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
     
}

input::placeholder {
    color: lightgray;
}

#email {
    width: 90px;
    height: 20px;
    border: none;
    padding: 5px 10px;
    margin-bottom: -5px;
}

#password {
    width: 90px;
    height: 20px;
    border: none;
    padding: 5px 10px;
    margin-bottom: -5px;
}

.addPostForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputOptionsContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    margin-bottom: 2em;
}

.inputOptionsContainer > label {
    justify-self: right;
    grid-column: 1;
    margin: 0.5em;
}

label ~ textarea {
    height: 10em;
    justify-self: left;
    grid-column: 2;
    margin: 0.5em;
    resize: vertical;
    width: 80%;
}

label + .fileInputWrapper {
    justify-self: left;
    grid-column: 2;
    margin: 0.5em;
}

.fileInputWrapper {
    background-color: #7f7f7f;
    padding: 6px 12px;
    cursor: pointer;
}

.fileInputWrapper input{
    display: None;
}

.center {
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 75px; 
    right: 0px;
    background-color: #DCDCDC;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    width: 150px;
    border-radius: 10px;
}

/* Show class for toggling visibility */
.dropdown-content.show {
    display: block;
}

label {
    display: block;
    margin-bottom: 5px;
    color: beige;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

.error p{
    font-weight: bold;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset-likes-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#reset-likes-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#reset-likes-button:hover {
    background-color: #0056b3;
}